@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #31211A;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid rgb(82, 179, 181);
  padding: 0.625rem 2.5rem 0.625rem 0.625rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid rgb(82, 179, 181);
}

.spollers_main {
  width: 90px;
}

.spollers__title_main {
  text-decoration: none;
  font-weight: 500;
  line-height: 108%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0rem 2.5rem 0.3125rem 0.625rem;
  position: relative;
}

.spollers__title_main:hover {
  color: #025669;
  font-weight: 600;
}

._spoller-init .spollers__title_main {
  cursor: pointer;
}

._spoller-init .spollers__title_main::before,
._spoller-init .spollers__title_main::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title_main::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title_main::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title_main._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title_main._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  border: none;
  padding: 0.625rem;
}

.spollers__link {
  text-decoration: none;
  line-height: 2;
}

.spollers__link:hover {
  color: #025669;
  font-weight: 600;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle {
  font-family: "Marck Script";
  font-weight: 700;
  line-height: 107.8%;
  letter-spacing: 0.02em;
  text-align: center;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.625rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  text-decoration: none;
  font-weight: 500;
  line-height: 108%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #025669;
  font-weight: 600;
}

.icon-menu {
  display: none;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(0deg, 0%, 100%)), color-stop(12%, hsl(24deg, 63%, 95%)), color-stop(24%, hsl(24deg, 62%, 91%)), color-stop(35%, hsl(25deg, 60%, 86%)), color-stop(46%, hsl(25deg, 58%, 81%)), color-stop(56%, hsl(25deg, 57%, 76%)), color-stop(67%, hsl(26deg, 55%, 71%)), color-stop(78%, hsl(26deg, 53%, 66%)), color-stop(89%, hsl(26deg, 52%, 61%)), to(hsl(27deg, 50%, 56%)));
  background-image: -o-linear-gradient(top, hsl(0deg, 0%, 100%) 0%, hsl(24deg, 63%, 95%) 12%, hsl(24deg, 62%, 91%) 24%, hsl(25deg, 60%, 86%) 35%, hsl(25deg, 58%, 81%) 46%, hsl(25deg, 57%, 76%) 56%, hsl(26deg, 55%, 71%) 67%, hsl(26deg, 53%, 66%) 78%, hsl(26deg, 52%, 61%) 89%, hsl(27deg, 50%, 56%) 100%);
  background-image: linear-gradient(180deg, hsl(0deg, 0%, 100%) 0%, hsl(24deg, 63%, 95%) 12%, hsl(24deg, 62%, 91%) 24%, hsl(25deg, 60%, 86%) 35%, hsl(25deg, 58%, 81%) 46%, hsl(25deg, 57%, 76%) 56%, hsl(26deg, 55%, 71%) 67%, hsl(26deg, 53%, 66%) 78%, hsl(26deg, 52%, 61%) 89%, hsl(27deg, 50%, 56%) 100%);
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.0769230769%)[1fr];
  grid-template-columns: repeat(1fr, 33.0769230769%);
  height: 6.25rem;
}

.main-block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(0deg, 0%, 100%)), color-stop(12%, hsl(24deg, 63%, 95%)), color-stop(24%, hsl(24deg, 62%, 91%)), color-stop(35%, hsl(25deg, 60%, 86%)), color-stop(46%, hsl(25deg, 58%, 81%)), color-stop(56%, hsl(25deg, 57%, 76%)), color-stop(67%, hsl(26deg, 55%, 71%)), color-stop(78%, hsl(26deg, 53%, 66%)), color-stop(89%, hsl(26deg, 52%, 61%)), to(hsl(27deg, 50%, 56%)));
  background-image: -o-linear-gradient(bottom, hsl(0deg, 0%, 100%) 0%, hsl(24deg, 63%, 95%) 12%, hsl(24deg, 62%, 91%) 24%, hsl(25deg, 60%, 86%) 35%, hsl(25deg, 58%, 81%) 46%, hsl(25deg, 57%, 76%) 56%, hsl(26deg, 55%, 71%) 67%, hsl(26deg, 53%, 66%) 78%, hsl(26deg, 52%, 61%) 89%, hsl(27deg, 50%, 56%) 100%);
  background-image: linear-gradient(0deg, hsl(0deg, 0%, 100%) 0%, hsl(24deg, 63%, 95%) 12%, hsl(24deg, 62%, 91%) 24%, hsl(25deg, 60%, 86%) 35%, hsl(25deg, 58%, 81%) 46%, hsl(25deg, 57%, 76%) 56%, hsl(26deg, 55%, 71%) 67%, hsl(26deg, 53%, 66%) 78%, hsl(26deg, 52%, 61%) 89%, hsl(27deg, 50%, 56%) 100%);
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-block__content {
  display: -ms-grid;
  display: grid;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block__title {
  font-family: "Marck Script";
  line-height: 107.8%;
  letter-spacing: 0.02em;
  max-width: 460px;
  margin: 0 auto;
}

.main-block__picture img {
  width: 100%;
}

.main-block__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.animation__item {
  position: relative;
  max-width: 40px;
}

.animation__item img {
  max-width: 100%;
}

.animation__item_1 {
  top: 26.180698152%;
  left: 4.0625rem;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
}

.animation__item_2 {
  top: 39.0143737166%;
  left: 17.9545454545%;
  max-width: 30px;
}

.animation__item_3 {
  top: 77.7207392197%;
  left: 28.7878787879%;
}

.animation__item_4 {
  top: 13.7577002053%;
  left: 75.7575757576%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  max-width: 50px;
}

.animation__item_5 {
  max-width: 50px;
  top: 67.659137577%;
  left: 83.3333333333%;
}

.animation__item_6 {
  top: 52.3613963039%;
  left: 54.6212121212%;
  max-width: 40px;
}

.animation__item_7 {
  top: 37.6796714579%;
  left: 40%;
}

.mainmenu-block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(179deg, 58%, 71%)), color-stop(8%, hsl(179deg, 57%, 75%)), color-stop(16%, hsl(179deg, 57%, 78%)), color-stop(25%, hsl(179deg, 57%, 81%)), color-stop(34%, hsl(179deg, 57%, 85%)), color-stop(44%, hsl(178deg, 57%, 88%)), color-stop(55%, hsl(178deg, 57%, 91%)), color-stop(67%, hsl(178deg, 57%, 94%)), color-stop(81%, hsl(178deg, 57%, 97%)), to(hsl(0deg, 0%, 100%)));
  background-image: -o-linear-gradient(bottom, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
  background-image: linear-gradient(0deg, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
}

.mainmenu-block__green {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(179deg, 58%, 71%)), color-stop(8%, hsl(179deg, 57%, 75%)), color-stop(16%, hsl(179deg, 57%, 78%)), color-stop(25%, hsl(179deg, 57%, 81%)), color-stop(34%, hsl(179deg, 57%, 85%)), color-stop(44%, hsl(178deg, 57%, 88%)), color-stop(55%, hsl(178deg, 57%, 91%)), color-stop(67%, hsl(178deg, 57%, 94%)), color-stop(81%, hsl(178deg, 57%, 97%)), to(hsl(0deg, 0%, 100%)));
  background-image: -o-linear-gradient(top, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
  background-image: linear-gradient(180deg, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
}

.mainmenu-block__brown {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(0deg, 0%, 100%)), color-stop(11%, hsl(30deg, 44%, 93%)), color-stop(22%, hsl(31deg, 43%, 86%)), color-stop(33%, hsl(31deg, 42%, 80%)), color-stop(44%, hsl(32deg, 41%, 73%)), color-stop(56%, hsl(32deg, 40%, 66%)), color-stop(67%, hsl(33deg, 38%, 59%)), color-stop(78%, hsl(34deg, 37%, 53%)), color-stop(89%, hsl(35deg, 42%, 46%)), to(hsl(36deg, 55%, 39%)));
  background-image: -o-linear-gradient(top, hsl(0deg, 0%, 100%) 0%, hsl(30deg, 44%, 93%) 11%, hsl(31deg, 43%, 86%) 22%, hsl(31deg, 42%, 80%) 33%, hsl(32deg, 41%, 73%) 44%, hsl(32deg, 40%, 66%) 56%, hsl(33deg, 38%, 59%) 67%, hsl(34deg, 37%, 53%) 78%, hsl(35deg, 42%, 46%) 89%, hsl(36deg, 55%, 39%) 100%);
  background-image: linear-gradient(180deg, hsl(0deg, 0%, 100%) 0%, hsl(30deg, 44%, 93%) 11%, hsl(31deg, 43%, 86%) 22%, hsl(31deg, 42%, 80%) 33%, hsl(32deg, 41%, 73%) 44%, hsl(32deg, 40%, 66%) 56%, hsl(33deg, 38%, 59%) 67%, hsl(34deg, 37%, 53%) 78%, hsl(35deg, 42%, 46%) 89%, hsl(36deg, 55%, 39%) 100%);
}

.mainmenu-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spollers__title {
  border: 1px solid rgb(82, 179, 181);
}

.spollers__title:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #025669;
  font-weight: 600;
}

.spollers__body {
  max-width: 300px;
  margin: 0 auto;
}

.spollers__body img {
  max-width: 100%;
  max-height: 300px;
}

.story-block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(0deg, 0%, 100%)), color-stop(16%, hsl(30deg, 44%, 93%)), color-stop(31%, hsl(31deg, 43%, 86%)), color-stop(45%, hsl(31deg, 42%, 80%)), color-stop(57%, hsl(32deg, 41%, 73%)), color-stop(67%, hsl(32deg, 40%, 66%)), color-stop(76%, hsl(33deg, 38%, 59%)), color-stop(83%, hsl(34deg, 37%, 53%)), color-stop(91%, hsl(35deg, 42%, 46%)), to(hsl(36deg, 55%, 39%)));
  background-image: -o-linear-gradient(bottom, hsl(0deg, 0%, 100%) 0%, hsl(30deg, 44%, 93%) 16%, hsl(31deg, 43%, 86%) 31%, hsl(31deg, 42%, 80%) 45%, hsl(32deg, 41%, 73%) 57%, hsl(32deg, 40%, 66%) 67%, hsl(33deg, 38%, 59%) 76%, hsl(34deg, 37%, 53%) 83%, hsl(35deg, 42%, 46%) 91%, hsl(36deg, 55%, 39%) 100%);
  background-image: linear-gradient(0deg, hsl(0deg, 0%, 100%) 0%, hsl(30deg, 44%, 93%) 16%, hsl(31deg, 43%, 86%) 31%, hsl(31deg, 42%, 80%) 45%, hsl(32deg, 41%, 73%) 57%, hsl(32deg, 40%, 66%) 67%, hsl(33deg, 38%, 59%) 76%, hsl(34deg, 37%, 53%) 83%, hsl(35deg, 42%, 46%) 91%, hsl(36deg, 55%, 39%) 100%);
}

.story-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story-block__content {
  line-height: 122.8%;
}

/*

.photos-block {
    background-image: linear-gradient(
               0deg,
               hsl(179deg 58% 71%) 0%,
               hsl(179deg 57% 75%) 8%,
               hsl(179deg 57% 78%) 16%,
               hsl(179deg 57% 81%) 25%,
               hsl(179deg 57% 85%) 34%,
               hsl(178deg 57% 88%) 44%,
               hsl(178deg 57% 91%) 55%,
               hsl(178deg 57% 94%) 67%,
               hsl(178deg 57% 97%) 81%,
               hsl(0deg 0% 100%) 100%
);


		&__container {
          display: flex;
         flex-direction: column;
         min-height: 100%;
         align-items: center;
         justify-content: center;
         @include adaptiveValue("padding-top", 150, 80);
		}

		&__content {
       text-align: center;
        margin-bottom: rem(30);
		}

		&__subtitle {
         margin-bottom: rem(20);
		}

		&__control {
		}

		&__slider {

		}

		&__wrapper {
		}

		&__slide {
		}

		&__item {

		}
}

.control {

		&__items {
         display: flex;
         gap: rem(10);
         font-size: 30px;

         color: rgb(64, 167, 169); 
		}

		&__arrow {

			   text-align: center;
            padding: rem(10);
            border: 1px solid rgb(60, 159, 161);
            background-color: rgb(173, 213, 214);
            border-radius: rem(15);
            font-size: rem(30);


         @media (any-hover: hover) {
             &:hover {
              color: rgb(42, 120, 121);
              background-color: rgb(193, 218, 218);
              border: 1px solid rgb(47, 129, 131);
         }}
          &.swiper-button-disabled {
            opacity: 0.4;
            border: none;

              &:hover {
             border: none;
           }
         }

			&_left { 
            transform: rotate(180deg);

			}

			&_right {

			}
		}
}


.item-photos-block {
         border-width: 0px 1px 1px 1px;
         border-style: solid;
         border-color: #F5F5F5;
         border-radius: 0px 0px 8px 8px;

		&__image-ibg {
           padding-bottom: percent(295, 360);
          overflow: hidden;
          img {
             filter: blur(2px);
             transition: all 0.3s ease 0s;
               @media (any-hover: hover) {
                  &:hover {
                  filter: invert(0%);
                  transform: scale(1.1);
         }}
         }
		}
}
*/

.contacts-block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(179deg, 58%, 71%)), color-stop(8%, hsl(179deg, 57%, 75%)), color-stop(16%, hsl(179deg, 57%, 78%)), color-stop(25%, hsl(179deg, 57%, 81%)), color-stop(34%, hsl(179deg, 57%, 85%)), color-stop(44%, hsl(178deg, 57%, 88%)), color-stop(55%, hsl(178deg, 57%, 91%)), color-stop(67%, hsl(178deg, 57%, 94%)), color-stop(81%, hsl(178deg, 57%, 97%)), to(hsl(0deg, 0%, 100%)));
  background-image: -o-linear-gradient(top, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
  background-image: linear-gradient(180deg, hsl(179deg, 58%, 71%) 0%, hsl(179deg, 57%, 75%) 8%, hsl(179deg, 57%, 78%) 16%, hsl(179deg, 57%, 81%) 25%, hsl(179deg, 57%, 85%) 34%, hsl(178deg, 57%, 88%) 44%, hsl(178deg, 57%, 91%) 55%, hsl(178deg, 57%, 94%) 67%, hsl(178deg, 57%, 97%) 81%, hsl(0deg, 0%, 100%) 100%);
}

.contacts-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-block__content {
  display: -ms-grid;
  display: grid;
  gap: 3.125rem;
}

.contacts-block__map {
  border: 3px solid #fff;
  max-width: 960px;
  margin: 0 auto;
}

.location {
  line-height: 114.8%;
}

.location > * {
  margin-bottom: 2.5rem;
}

.photos-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  font-size: 30px;
  color: rgb(64, 167, 169);
}

.control__arrow {
  text-align: center;
  padding: 0.625rem;
  border: 1px solid rgb(60, 159, 161);
  background-color: rgb(173, 213, 214);
  border-radius: 0.9375rem;
  font-size: 1.875rem;
}

.control__arrow.swiper-button-disabled {
  opacity: 0.4;
}

.control__arrow_left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main-block__content {
    grid-template-columns: repeat(auto-fill, minmax(28.125rem, 1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 84.375em) {
  .subtitle {
    margin-bottom: 3.125rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .header__container {
    height: 12.5rem;
  }

  .menu__list {
    gap: 2.8125rem;
  }

  .main-block__container {
    padding-top: 9.375rem;
  }

  .main-block__title {
    font-size: 4.5rem;
  }

  .mainmenu-block__container {
    padding-top: 9.375rem;
  }

  .story-block__container {
    padding-top: 9.375rem;
  }

  .story-block__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contacts-block {
    padding-bottom: 3.75rem;
  }

  .contacts-block__container {
    padding-top: 9.375rem;
  }

  .contacts-block__content {
    gap: 3.125rem;
  }

  .photos-block__container {
    padding-top: 9.375rem;
  }
}

@media (min-width: 930px) {
  .contacts-block__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 939.98px) {
  .main-block__title {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .contacts-block__map iframe {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 20em) {
  .subtitle {
    margin-bottom: 1.25rem;
  }

  .subtitle {
    font-size: 1.5625rem;
  }

  .header__container {
    height: 9.375rem;
  }

  .menu__list {
    gap: 1.5625rem;
  }

  .main-block__container {
    padding-top: 5rem;
  }

  .main-block__title {
    font-size: 2.1875rem;
  }

  .mainmenu-block__container {
    padding-top: 5rem;
  }

  .story-block__container {
    padding-top: 5rem;
  }

  .story-block__content:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .contacts-block {
    padding-bottom: 1.875rem;
  }

  .contacts-block__container {
    padding-top: 5rem;
  }

  .contacts-block__content {
    gap: 1.25rem;
  }

  .photos-block__container {
    padding-top: 5rem;
  }
}

@media (max-width: 84.375em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .spollers__title_main {
    font-size: 30px;
  }

  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__logo {
    padding-left: 0.625rem;
  }

  .menu__body {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(176deg, 91%, 75%)), color-stop(7%, hsl(175deg, 91%, 81%)), color-stop(16%, hsl(175deg, 92%, 86%)), color-stop(27%, hsl(174deg, 92%, 91%)), color-stop(37%, hsl(174deg, 93%, 96%)), color-stop(49%, hsl(0deg, 0%, 100%)), color-stop(60%, hsl(24deg, 62%, 92%)), color-stop(71%, hsl(25deg, 59%, 83%)), color-stop(82%, hsl(25deg, 56%, 74%)), color-stop(91%, hsl(26deg, 53%, 65%)), to(hsl(27deg, 50%, 56%)));
    background-image: -o-linear-gradient(bottom, hsl(176deg, 91%, 75%) 0%, hsl(175deg, 91%, 81%) 7%, hsl(175deg, 92%, 86%) 16%, hsl(174deg, 92%, 91%) 27%, hsl(174deg, 93%, 96%) 37%, hsl(0deg, 0%, 100%) 49%, hsl(24deg, 62%, 92%) 60%, hsl(25deg, 59%, 83%) 71%, hsl(25deg, 56%, 74%) 82%, hsl(26deg, 53%, 65%) 91%, hsl(27deg, 50%, 56%) 100%);
    background-image: linear-gradient(0deg, hsl(176deg, 91%, 75%) 0%, hsl(175deg, 91%, 81%) 7%, hsl(175deg, 92%, 86%) 16%, hsl(174deg, 92%, 91%) 27%, hsl(174deg, 93%, 96%) 37%, hsl(0deg, 0%, 100%) 49%, hsl(24deg, 62%, 92%) 60%, hsl(25deg, 59%, 83%) 71%, hsl(25deg, 56%, 74%) 82%, hsl(26deg, 53%, 65%) 91%, hsl(27deg, 50%, 56%) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 5;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__animation {
    opacity: 0.6;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__container {
    height: 5.625rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 5.625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}

@media (min-width: 20em) and (max-width: 84.375em) {
@supports (margin-bottom: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem )) {
    .subtitle {
      margin-bottom: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem )) {
    .subtitle {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 64.375);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1158980583rem  +  2.2330097087vw , 3rem )) {
    .subtitle {
      font-size: clamp( 1.5625rem , 1.1158980583rem  +  2.2330097087vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1158980583rem  +  2.2330097087vw , 3rem )) {
    .subtitle {
      font-size: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 64.375);
    }
}

@supports (height: clamp( 9.375rem , 8.4041262136rem  +  4.854368932vw , 12.5rem )) {
    .header__container {
      height: clamp( 9.375rem , 8.4041262136rem  +  4.854368932vw , 12.5rem );
    }
}

@supports not (height: clamp( 9.375rem , 8.4041262136rem  +  4.854368932vw , 12.5rem )) {
    .header__container {
      height: calc(9.375rem + 3.125 * (100vw - 20rem) / 64.375);
    }
}

@supports (gap: clamp( 1.5625rem , 1.1741504854rem  +  1.9417475728vw , 2.8125rem )) {
    .menu__list {
      gap: clamp( 1.5625rem , 1.1741504854rem  +  1.9417475728vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.1741504854rem  +  1.9417475728vw , 2.8125rem )) {
    .menu__list {
      gap: calc(1.5625rem + 1.25 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .main-block__container {
      padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .main-block__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 64.375);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.4690533981rem  +  3.5922330097vw , 4.5rem )) {
    .main-block__title {
      font-size: clamp( 2.1875rem , 1.4690533981rem  +  3.5922330097vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.4690533981rem  +  3.5922330097vw , 4.5rem )) {
    .main-block__title {
      font-size: calc(2.1875rem + 2.3125 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .mainmenu-block__container {
      padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .mainmenu-block__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .story-block__container {
      padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .story-block__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 64.375);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem )) {
    .story-block__content:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem )) {
    .story-block__content:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts-block {
      padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts-block {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .contacts-block__container {
      padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .contacts-block__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 64.375);
    }
}

@supports (gap: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem )) {
    .contacts-block__content {
      gap: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.6674757282rem  +  2.9126213592vw , 3.125rem )) {
    .contacts-block__content {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 64.375);
    }
}

@supports (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .photos-block__container {
      padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.640776699rem  +  6.7961165049vw , 9.375rem )) {
    .photos-block__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 64.375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 84.375em) {
  .header__container {
    height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 84.375em) {
@supports (height: clamp( 5.625rem , 5.4308252427rem  +  0.9708737864vw , 6.25rem )) {
    .header__container {
      height: clamp( 5.625rem , 5.4308252427rem  +  0.9708737864vw , 6.25rem );
    }
}

@supports not (height: clamp( 5.625rem , 5.4308252427rem  +  0.9708737864vw , 6.25rem )) {
    .header__container {
      height: calc(5.625rem + 0.625 * (100vw - 20rem) / 64.375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body {
    padding-top: 7.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (padding-top: clamp( 5.625rem , 5.6132075472rem  +  9.4339622642vw , 7.5rem )) {
    .menu__body {
      padding-top: clamp( 5.625rem , 5.6132075472rem  +  9.4339622642vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 5.6132075472rem  +  9.4339622642vw , 7.5rem )) {
    .menu__body {
      padding-top: calc(5.625rem + 1.875 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .control__arrow:hover {
    color: rgb(42, 120, 121);
    background-color: rgb(193, 218, 218);
    border: 1px solid rgb(47, 129, 131);
  }
}